.TipsOrderDetails {
    padding: 12px 16px 0 16px;
}

.TipsOrderDetails > div {
    display: flex;
    margin-bottom: 12px;
}

.TipsOrderAdress > img, .TipsOrderDate > img {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.TipsOrderAdress > span, .TipsOrderDate> span {
    line-height: 24px;
    width: 260px;
    vertical-align: top;
}