.mainButton {
    background-color: #40444F;
    width: 304px;
    height: 24px;
    border-radius: 8px;
    margin: 12px 16px 0 16px;
    color: #FFFFFF;
    padding: 12px;
    font-family: "InterNormal";
    font-size: 16px;
}

.mainButton > * {
    display: block;
    padding-top: 3px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}