.LoginTitle {
    width: 328px;
    height: 48px;
    font-size: 16px;
    text-align: left;
    vertical-align: bottom;
    line-height: 24px;
    margin: 154px 16px 0 16px;
}

.LoginInput {
    width: 312px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: #C6CBD2;
    background-color: #F6F7F8;
    margin: 32px 16px 0 16px;
    padding: 0 0 0 16px;
}