.HiddenOrderList {
    display: none !important;
}

.ActiveOrderList {
    display: block !important; 
}


.OrdersButtonSet {
    width: 307px;
    height: 40px;
    display: flex;
    border-radius: 6px;
    margin: 24px 26px 18px 26px;
    overflow: hidden;
}

.OrdersButtonSet a {
    display: block;
    width: 164px;
    height: 32px;
    background-color: #F6F7F8;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 8px;
}

a.active {
    background-color: #40444F;
    color: #FFFFFF;
}

.OrdersHelp {
    display: flex;
    width: 328px;
    height: 120px;
    line-height: 24px;
    background-color: #F6F7F8;
    border-radius: 8px;
    margin: 24px 16px 0 16px;
}

.OrdersCloseCross  {
    display: grid;
    text-decoration: none;
    border: none;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-content: center;
    background-color: #F6F7F8;
    margin: 12px 16px 26px 0;
}

.OrdersHelp > p {
    width: 264px;
    font-size: 16px;
    margin: 12px 8px 12px 16px;
}