.emptyTipList {
    width: 360px;
    height: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.TipsPage {
    min-height: 800px;
}

.SumInput {
    width: 328px;
    height: 40px;
    border-radius: 6px;
    background-color: #F5F5F5;
    border: none;
    margin: 12px 16px 0 16px;
    outline: none;
    text-align: center;
}

.SumInput::-webkit-outer-spin-button,
.SumInput::-webkit-inner-spin-button {
    display: none;
}

.finalSum {
    display: flex;
    justify-content: space-between;
    margin: 62px 16px 4px 16px;
    font-size: 20px;
    line-height: 24px;
}

.anotherSumTitle {
    font-size: 16px;
    line-height: 24px;
    margin: 16px auto 0 16px;
}

.tipsButtonset{
    display: flex;
    justify-content: space-between;
    width: 276px;
    height: 40px;
    margin: 16px auto 0 16px;
    cursor: pointer;
}

.tipsButtonset > a {
    display: block;
    width: 60px;
    height: 32px;
    padding-top: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #F6F7F8;
    border-radius: 6px;
}

.tipsAmount {
    margin: 40px auto 0 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

a.activeTip {
    background-color: #40444F;
    color: #FFFFFF;
}

.orderHeader {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 12px 16px 0;
}

.iconAndText {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}