@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf)
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-SemiBold.ttf);
    font-weight: bold;
}

body {
    margin: auto;
    margin-top: 0px;
    width: 360px;
    min-height: 800px;
    background-color: #FFFFFF;
    color: #25282E;
}

body * {
    font-family: 'Inter';
    font-weight: 500;
}