.Data {
    width: 328px;
    height: 216px;
    background-color: #FFFFFF;
    margin: 24px 16px 0 16px;
    border-radius: 8px;
    padding-top: 12px;
}

.DataTitle {
    height: 24px;
    font-size: 20px;
    text-align: left;
    margin: 0 auto 0 16px;
}

.PersonName{
    height: 24px;
    font-size: 16px;
    margin: 16px auto 0 16px;
}

.PersonInfo{
    height: 48px;
    margin: 16px auto 0 16px;
}

.PersonInfoTitle{
    font-size: 14px;
}

.PersonInfoData{
    color: #006BE5;
    font-size: 16px;
}