.MainPageButtons {
    width: 158px;
    height: 130px;
    background-color: #80BBFF;
    border-radius: 8px;
    margin: 0 auto 12px auto;
    display: flex;
    overflow: hidden;
}

.MainPageButtons > * {
    text-decoration: none;
    color: #FFFFFF;
}

.MainPageButtons h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 14px auto 12px 12px;
}

.circul {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    width: 96px;
    height: 73px;
    margin-left: -12px;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.mainPict {
    width: 50px;
    height: 50px;
}